/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/montserrat/montserrat-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../fonts/montserrat/montserrat-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/montserrat/montserrat-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/montserrat/montserrat-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/montserrat/montserrat-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/montserrat/montserrat-v15-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/montserrat/montserrat-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../fonts/montserrat/montserrat-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/montserrat/montserrat-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/montserrat/montserrat-v15-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/montserrat/montserrat-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/montserrat/montserrat-v15-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* cookie-regular - latin */
@font-face {
  font-family: 'Cookie';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/cookie-v12-latin/cookie-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../fonts/cookie-v12-latin/cookie-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/cookie-v12-latin/cookie-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/cookie-v12-latin/cookie-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/cookie-v12-latin/cookie-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/cookie-v12-latin/cookie-v12-latin-regular.svg#Cookie') format('svg'); /* Legacy iOS */
}
