@mixin flex-row($align: center, $justify: center) {
  align-items: $align;
  display: flex;
  flex-direction: row;
  justify-content: $justify;
}

@mixin flex-col($align: center, $justify: center) {
  align-items: $align;
  display: flex;
  flex-direction: column;
  justify-content: $justify;
}

@mixin font($weight: 400, $size: 16px, $line-height: 20px, $family: 'Montserrat') {
  font: normal #{$weight} #{$size}/#{$line-height} #{$family};
}
