.header-container {
  background-color: $background;
  height: 100px;
  left: 0;
  padding-top: 20px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;

  .header {
    color: $secondary-dark;
    text-align: center;
  
    &__name {
      @include font($size: 60px, $line-height: 40px, $family: 'Cookie');
  
      margin-bottom: 10px;
    }
  
    &__description {
      text-transform: uppercase;
      
      span {
        text-transform: capitalize;
      }
    }
  }
}