.pagination-container {
  display: flex;
  margin-top: 16px;
  text-align: center;

  &__left-arrow,
  &__right-arrow,
  &__page {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 8px;
  }

  &__left-arrow,
  &__right-arrow {
    background-color: $secondary-dark;
    color: #fff;
  }

  &__page {
    border: 0.5px solid #000;
    background-color: #fff;
    &--selected {
      border-color: $secondary-dark;
      background-color: $secondary;
      color: #fff;
    }
  }
}