.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  &__items {
    display: grid;
    gap: 10px;
    align-self: stretch;
      
    &--grid {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;

      @media only screen and (min-width: 800px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &--panel {
      grid-template-columns: 1 / -1;
      grid-auto-rows: minmax(100px, auto);
    }
  }

  & .no-products-placeholder {
    color: gray;
  }
}